@using Integratieproject1.Domain.Projects
@using Integratieproject1.Domain.Surveys
@model Integratieproject1.Domain.Surveys.Question

@{
    ViewBag.Title = "Voeg Vraag Toe";
}

<div>
    <form class="form-inline" asp-controller="Admin" asp-action="AddQuestion" asp-route-surveyId="@ViewBag.SurveyId" method="post">
        <input class="form-control" required asp-for="QuestionText" placeholder="Geef vraag hier..." class="form-control"/>
        <select class="form-control" asp-for="QuestionType" asp-items="Html.GetEnumSelectList<QuestionType>()">
        </select>
        <input class="btn btn-primary btn-sm" type="submit" value="Vraag Toevoegen">
    </form>
    
</div>