

@{
    ViewBag.Title = "AdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h2>Admin</h2>
<div>
    
    <a asp-area="" asp-controller="Admin"
       asp-action="Projects"><button>My Projects</button>
    </a>
    <a asp-area="" asp-controller="Admin"
       asp-action="Moderators"><button>Manage Mods</button>
    </a>
</div>
</div>