@using Integratieproject1.Domain.Users
@using Microsoft.AspNetCore.Identity

@{
    ViewBag.Title = "Admin";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h2>Admin</h2>
<div>

    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="Projects">
        Mijn Projecten
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="Moderators">
        Beheer Moderators
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="VerificationRequests">
        Verificatieverzoeken
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="Tags">
        Tags
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="SurveyResults">
        Resultaten Vragenlijsten
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="IdeationResults">
        Resultaten Ideations
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin"
       asp-action="IotSetups">
        IoT-opstelling bekijken
    </a>
</div>
</div>