@model Integratieproject1.Domain.Users.LoggedInUser

@{
    ViewBag.Title = "AdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <h2>Admin</h2>
  <div>
      
      <a asp-area="" asp-controller="Admin"
         asp-action="Projects" asp-route-userId="@Model.UserId"><button>My Projects</button>
      </a>
  
  </div>  
</div>
