@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Ideations.Ideation

@{
    ViewBag.Title = "PhasePage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<h2>Ideation</h2>
<div>
    <form asp-controller="Admin" asp-action="EditIdeation" asp-route-ideationId="@Model.IdeationId" method="post">
        <label asp-for="CentralQuestion"></label>
        <input required asp-for="CentralQuestion" value="@Model.CentralQuestion" class="form-control"/>
        <formgroup>
            <label asp-for="InputIdeation"></label><br/>
            <input asp-for="InputIdeation"  value="True" type="radio" >yes<br/>
            <input asp-for="InputIdeation"  value="False" type="radio">no  <br/>          
        </formgroup>
        <input type="submit" value="Save Ideation">
    </form>
    <a asp-area="" asp-controller="Admin"
       asp-action="DeleteIdeation" asp-route-ideationId="@Model.IdeationId"><button>Delete ideation</button>
    </a>
    
    
</div>