@model IList<Integratieproject1.Domain.Ideations.Ideation>

@{
    ViewBag.Title = "Admin";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Ideations</h2>
    <form asp-action="IdeationResults" method="get">
        <div class="form-actions no-color">
            <p>
                Filter: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Zoeken" class="btn btn-primary" /> |
                <a asp-action="IdeationResults">Terug naar volledige lijst</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>
                    <a asp-action="IdeationResults" asp-route-sortOrder="@ViewData["NameSortParm"]">Titel</a>
                </th>
            </tr>
            @foreach (var ideation in Model)
            {
                <tr>
                    <td>@ideation.CentralQuestion</td>
                    <td>
                        <a asp-area="" asp-controller="Admin"
                           asp-action="IdeationResult" asp-route-ideationId="@ideation.IdeationId">
                            Bekijk Resultaten
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>