@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.Video

@{
    ViewBag.Title = "AddQuestionPage";
}

<div>
    <form class="form-inline" asp-controller="Project" asp-action="AddVideo" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <label for="uploadedVideo">Video</label>
        <input class="form-control" asp-for="Url" type="url" onchange="PreviewVideo(value)" id="uploadedVideo" placeholder="Paste YouTube URL..."/>

        <iframe id="previewVideo" width="560" height="315" src=""
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <input class="btn btn-primary btn-sm" type="submit" value="Add Video">
    </form>
</div>
<script>
    function PreviewVideo(url) {
        var preview = document.getElementById('previewVideo');
        url = url.replace("watch?v=", "embed/");
        preview.src = url;
        
    }
</script>