@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.TextField

@{
    ViewBag.Title = "Voeg Vraag Toe";
}

<div>
    <form class="" asp-controller="Project" asp-action="AddTextField" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <div class="input-group">
            <textarea rows="1" class="form-control" required asp-for="Text" placeholder=""></textarea>  
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
            </div>
        </div>  
    </form>
    
</div>