@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.TextField

@{
    ViewBag.Title = "AddQuestionPage";
}

<div>
    <form class="" asp-controller="Project" asp-action="AddTextField" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <div class="form-row">
            <div class="col-10 text-center">
              <textarea rows="1" class="form-control" required asp-for="Text" placeholder=""></textarea>  
            </div>
            <div class="col-2 text-center">
                <input class="btn btn-primary btn-sm" type="submit" value="Add TextField">
            </div>
        </div>
    </form>
    
</div>