@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.Video

@{
    ViewBag.Title = "Voeg Vraag Toe";
}

<div>
    <form class="" asp-controller="Project" asp-action="AddVideo" asp-route-ideaId="@ViewBag.IdeaId" method="post">
        <div class="input-group" style="padding: 5px">
            <input required class="form-control" asp-for="Url" type="url" onchange="PreviewVideo(value)" id="uploadedVideo" placeholder="Paste YouTube URL..."/>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
            </div>
        </div>  
        <iframe id="previewVideo" width="100%" src=""
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </form>
</div>
<script>
    function PreviewVideo(url) {
        var preview = document.getElementById('previewVideo');
        url = url.replace("watch?v=", "embed/");
        preview.src = url;
        
    }
</script>