@using Integratieproject1.Domain.Projects
@model Integratieproject1.Domain.Datatypes.Position

@{
    ViewBag.Title = "Voeg Locatie Toe";
}

<div>
    <div class="card">
        <div id="AddMap"></div>
        
        <form asp-controller="Project" asp-action="AddPosition" asp-route-ideaId="@ViewBag.IdeaId">
            <input class="form-control" hidden required placeholder="Breedtegraad" asp-for="Lat" id="lat"/>
            <input class="form-control" hidden required placeholder="Lengtegraad" asp-for="Lng" id="lng"/>
            <div class=" d-flex flex-row justify-content-center ">
                <div class="input-group">
                    <input class="form-control" id="autocompleteAdd" @*oninput="inputAutocomplete()*@"/>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
           
        </form>                
        
    </div>
</div>
<script>
    var markers = [];
    
    function initAddMap() {
        
        var position = {lat: 51.2194475, lng: 4.40246430000002};
        var map = new google.maps.Map(
            document.getElementById('AddMap'), {zoom: 13, center: position});
        
        google.maps.event.addListener(map, 'click', 
            function(event) {
                changeMarker(event.latLng, map);
            });
        initAddAutocomplete(map);
        
        
    }
    function initAddAutocomplete(map) {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocompleteAdd'));
        autocomplete.setComponentRestrictions({'country': 'be'});
        google.maps.event.addListener(autocomplete,
            'place_changed',
            function() {
                var place = autocomplete.getPlace();
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();
                changeMarker(place.geometry.location,map);

            });
        
    }
    function changeMarker(coords,map) {
        clearMarkers();
        addMarker(coords, map);
        map.setCenter(coords);
        map.setZoom(16);
        document.getElementById('lat').value = coords.lat();
        document.getElementById('lng').value = coords.lng();
    }
    function addMarker(coords, map) {
        var marker = new google.maps.Marker({ position: coords, map: map });
        markers.push(marker);
    }
    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
            markers.pop(markers[i]);
        }
    }
</script>



