
@{
    ViewBag.Title = "Map";
}
<div id="map"></div>
<script>

    function initMap() {
        var markers = [];
        var position = {lat: @ViewBag.Position.Lat, lng: @ViewBag.Position.Lng};
      
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 16, center: position});
        
        var marker = new google.maps.Marker({position: position, map: map});

        
    }
    
</script>