@model Integratieproject1.Domain.Ideations.Reaction

@{
    ViewBag.Title = "Idee";
    //Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<form class="form-inline" asp-controller="Project" asp-action="PostReaction" asp-route-element="@ViewBag.Element" asp-route-id="@ViewBag.Id" method="post">
    
    
    <div class="input-group">
        <input class="form-control form-control-sm" type="text" name="reactiontext"> 
        <div class="input-group-append">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-comment"></i></button>
        </div>
    </div>  
</form>