@using Integratieproject1.Domain.Users
@model Integratieproject1.Domain.Ideations.Idea

@{
    ViewBag.Title = "ideationPage";
//    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Project" asp-action="PostIdea" asp-route-ideationId="@ViewBag.IdeationId" method="post">
    
    @*<select asp-for="LoggedInUser" asp-items="@(new SelectList(ViewBag.LoggedInUsers, "UserId", "Email"))" class="form-control"></select>*@
    <select asp-for="LoggedInUser" name="loggedinuser">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <input asp-for="Title" type="text" name="title">
    <input asp-for="Text" type="text" name="text"/>
    <div class="input-default-wrapper mt-3">

        <span class="input-group-text mb-3" id="input1">Upload</span>

        <input type="file" id="file-with-current" class="input-default-js">

        <label class="label-for-default-js rounded-right mb-3" for="file-with-current"><span class="span-choose-file">Choose
                file</span>

            <div class="float-right span-browse">Browse</div>

        </label>

    </div>
    <input type="submit" value="Post">
</form>


