@using System.Linq
@model Integratieproject1.Domain.Ideations.Idea

@{
    ViewBag.Title = "Ideation";
}

<form asp-controller="Project"
      asp-action="PostIdea"
      asp-route-ideationId="@ViewBag.IdeationId"
      asp-route-formFiles="@ViewData["formFiles"]"
      enctype="multipart/form-data"
      method="post">

    <div class="form-group">
        <label for="title">Titel</label>
        <input class="form-control" asp-for="Title" type="text" name="title" id="title">
    </div>

    <div class="form-group">
        <label for="description">Beschrijving</label>
        <textarea class="form-control" name="text" id="description" rows="5"></textarea>
    </div>

    <div class="form-group" id="imagesUpload">
        <label for="uploadedImages">
            Afbeeldingen
            <div class="input-group">
                <span class="form-control" id="chosenImages">
                    Kies Afbeeldingen...
                </span>
                <div class="input-group-append">
                    <span class="input-group-text btn btn-outline-secondary">Kies</span>
                </div>
            </div>
        </label>
        <input class="input-default-js"
               name="formFiles"
               type="file"
               multiple
               data-multiple-target=" files selected"
               id="uploadedImages"
               accept="image/x-png,image/gif,image/jpeg"
               onchange="PreviewImage(this)">
    </div>

    <div class="form-group">
        <label for="uploadedVideo">Video</label>
        <input class="form-control" type="url" name="video" onchange="PreviewVideo(value)" id="uploadedVideo" placeholder="Paste YouTube URL..."/>

        <iframe id="previewVideo" width="560" height="315" src=""
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
</form>

@*************************@
@* refactor naar js file *@
<script>
    function PreviewImage(fileInput) {
        var files = fileInput.files;
        var imagesUpload = document.getElementById('imagesUpload');
        var chosenImages = document.getElementById('chosenImages');

        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onloadend = function(event) {
                var preview = document.createElement('img');
                preview.setAttribute('src', event.target.result);
                preview.setAttribute('alt', 'Image preview...');
                preview.setAttribute('width', '100px');
                preview.setAttribute('height', '100px');
                imagesUpload.appendChild(preview);
            }

            if (files[i]) {
                reader.readAsDataURL(files[i]);
            }
        }

        chosenImages.innerHTML = files.length + fileInput.getAttribute('data-multiple-target');
    }

    function PreviewVideo(url) {
        var preview = document.getElementById('previewVideo');
        url = url.replace("watch?v=", "embed/");
        preview.src = url;
        
    }
</script>
@*************************@