@model Integratieproject1.Domain.Projects.Project

@{
    ViewBag.Title = "ProjectPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProjectName</h2>
<div>
    @foreach (var phase in Model.Phases)
    {
        <h3>@phase.PhaseName</h3>
        <p>ideations: </p>
        <div>
        @foreach (var ideation in phase.Ideations)
         {
             <div>
                 <h3>@ideation.CentralQuestion</h3>
                 <button>view ideation</button>
             </div>
         }
        </div>
        <p>surveys: </p>
        <div>
        @foreach (var survey in phase.Surveys)
        {
            <div>
                <h3> @survey.Title</h3>
                <button>answer survey</button>
            </div>
        }
        </div>
    }
</div>