@model Integratieproject1.Domain.Surveys.Survey

@{
    ViewBag.Title = "SurveyPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@foreach (var question in Model.Questions)
{
    <div>
        <h3>@question.QuestionText</h3>
        @foreach (var answer in question.Answers)
        {
            <p>@answer.AnswerText</p>
        }
    </div>
}
