@using System.Linq
@using Integratieproject1.Domain.Surveys
@model Integratieproject1.Domain.Surveys.Survey

@{
    ViewBag.Title = "SurveyPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title Results:</h2>
    @foreach (var question in Model.Questions)
    {
        <h3>@question.QuestionText</h3>
        foreach (var answer in question.Answers)
        {
            if (!answer.AnswerText.Equals(""))
            {
                <p>@answer.AnswerText: @answer.TotalTimesChosen keer gekozen</p>
            }
        }
    }

