@{
    ViewData["Title"] = "Info";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    
    <h5>City Of Ideas is een initiatief dat het contact tussen beslissingen van gemeentes en hun burgers wil verbeteren.
    De 2 opdrachtgevers voor dit initiatief zijn: </h5>
    <br />
    <br />
    <h3><a href="https://www.treecompany.be/projecten/" target="_blank">Tree Company</a></h3>
    <br />
    <p>Tree Company specialiseert zich in het uitwerken van concepten voor online applicaties en websites
    rond politiek en participatie. De ontwikkeling zelf gebeurt altijd door online bureaus.
    Heel wat gemeentes en andere overheden gebruiken de tools die ze ontwikkeld hebben.
    Voorbeelden zijn ‘Destemtest’(VRT, De Standaard); zewerkenvoorjou.be; De Vragende partij (VRT);
    ...;kandidaten2014 (De Morgen); de burgerbegroting (district Antwerpen);...</p>
    <br />
    <br />
    <h3><a href="https://www.antwerpen.be/nl/home" target="_blank">Het district Antwerpen</a></h3>
    <br />
    <p>District Antwerpen zet al volop in op burgerparticipatie online en offline.
    Het district Antwerpen is specififek een voorloper met haar burgerbegroting.
    Hierbij mogenburgers zelf bepalen waar 1/10​e​ van de begroting van het district
    Antwerpen aan wordt besteed. Ondanks het grote succes in de voorbije jaren
    blijft het moeilijk om eenvoldoende breed publiek te bereiken.</p>
</div>

