@{
    ViewData["Title"] = "FAQ's";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <h3>Wat is de doelstelling van dit initiatief?</h3>
    <br />
    <p>
        Burgers betrekken bij beleid is heel erg belangrijk om beter beleid te kunnen maken en
        een groter draagvlak te vinden voor beslissingen. Burgers zijn expert in hun eigen buurt,
        interesses en activiteiten. Maar het is een uitdaging voor elke overheid en organisatie
        om een breed publiek te bereiken en niet telkens dezelfde burgers te laten deelnemen.
    </p>
    <br />
    <p>
        Het doel van dit project is om een aantal mogelijkheden te creëren voor burgers om hun
        ideeën en suggesties in te geven rond een bepaald thema en op elkaars ideeën te kunnen
        reageren, te liken of te sharen. We willen het daarbij mogelijk maken om zo’n breed
        mogelijk publiek te laten deelnemen.
    </p>
    <br />
    <h3>Wat zijn de verschillende mogelijkheden om te stemmen?</h3>
    <br />
    <p>
        Men kan stemmen op een idee door ingelogd te zijn en op het idee te voten. Ook is het mogelijk
        om te stemmen door een idee te delen via Facebook of Twitter. Dit telt ook als een stem. De laatste optie
        om te stemmen is door naar de IoT-opstelling te gaan dat bij dat bepaald idee hoort en daar via
        de opstelling te stemmen.
    </p>
    <br />
    <h3>Kunnen ook niet-burgers inspraak hebben in projecten?</h3>
    <br />
    <p>
        Iedereen dat een account aanmaakt op het platform kan meestemmen. Ben je niet-burger maar vind je een bepaald 
        project in de buurt van je school belangrijk? Dan kan je zelf een account aanmaken en op het idee dat je leuk vindt 
        stemmen.
    </p>
</div>