@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p>
        City of Ideas, gevestigd aan Antwerpen 2000 Lille 2275 Kruisweg 1,
        is verantwoordelijk voor de verwerking van persoonsgegevens
        zoals weergegeven in deze privacyverklaring.
    </p>
    <br />
    <h3>Contactgegevens:</h3>
    <br />
    <p>https://localhost</p>
    <br />
    <p>Antwerpen 2000 Lille 2275 Kruisweg 1</p>
    <br />
    <p>0488888888</p>
    <br />
    <p>Persoonsgegevens die wij verwerken:</p>
    <p>City of Ideas verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en/of omdat u deze zelf aan ons verstrekt. Hieronder vindt u een overzicht van de persoonsgegevens die wij verwerken:</p>
    <p>- Voor- en achternaam</p>
    <p>- Geslacht</p>
    <p>- Geboortedatum</p>
    <p>- Geboorteplaats</p>
    <p>- Adresgegevens</p>
    <p>- Telefoonnummer</p>
    <p>- E-mailadres</p>
    <br />
    <p>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken
    City of Ideas verwerkt de volgende bijzondere en/of gevoelige persoonsgegevens van u:</p>

    <p>- politieke voorkeur</p>
    <br />
    <p>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken
    City of Ideas verwerkt uw persoonsgegevens voor de volgende doelen:</p>

    <p>- U de mogelijkheid te bieden een account aan te maken
    Geautomatiseerde besluitvorming
    City of Ideas neemt [wel / niet] op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van City of Ideas) tussen zit. City of Ideas gebruikt de volgende computerprogramma's of -systemen: [aanvullen met naam van het systeem, waarom het gebruikt wordt, onderliggende logica, belang en verwachte gevolgen voor betrokkene]
    </p>
    <p>
    Hoe lang we persoonsgegevens bewaren
    City of Ideas bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw gegevens worden verzameld. Wij hanteren de volgende bewaartermijnen voor de volgende (categorieën) van persoonsgegevens: (Categorie) persoonsgegevens > Bewaartermijn > Reden Personalia > Bewaartermijn > Reden Adres > Bewaartermijn > Reden Enzovoort > Bewaartermijn > Reden
    Delen van persoonsgegevens met derden
    City of Ideas verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met u of om te voldoen aan een wettelijke verplichting.
    </p>
    <p>
    Cookies, of vergelijkbare technieken, die wij gebruiken
    City of Ideas gebruikt functionele, analytische en tracking cookies. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen in de browser van uw computer, tablet of smartphone. City of Ideas gebruikt cookies met een puur technische functionaliteit. Deze zorgen ervoor dat de website naar behoren werkt en dat bijvoorbeeld uw voorkeursinstellingen onthouden worden. Deze cookies worden ook gebruikt om de website goed te laten werken en deze te kunnen optimaliseren. Daarnaast plaatsen we cookies die uw surfgedrag bijhouden zodat we op maat gemaakte content en advertenties kunnen aanbieden. Bij uw eerste bezoek aan onze website hebben wij u al geïnformeerd over deze cookies en toestemming gevraagd voor het plaatsen ervan. U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen. Zie voor een toelichting: https://veiliginternetten.nl/themes/situatie/cookies-wat-zijn-het-en-wat-doe-ik-ermee/
    </p>
    <p>
    Gegevens inzien, aanpassen of verwijderen
    U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Dit kunt u zelf doen via de persoonlijke instellingen van uw account. Daarnaast heeft u het recht om uw eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw persoonsgegevens door ons bedrijf en heeft u het recht op gegevensoverdraagbaarheid. Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand naar u of een ander, door u genoemde organisatie, te sturen. Wilt u gebruik maken van uw recht op bezwaar en/of recht op gegevensoverdraagbaarheid of heeft u andere vragen/opmerkingen over de gegevensverwerking, stuur dan een gespecificeerd verzoek naar cityofideas@coi.com. Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, vragen wij u een kopie van uw identiteitsbewijs bij het verzoek mee te sturen. Maak in deze kopie uw pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van uw privacy. City of Ideas zal zo snel mogelijk, maar in ieder geval binnen vier weken, op uw verzoek reageren. City of Ideas wil u er tevens op wijzen dat u de mogelijkheid hebt om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link: https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons
    </p>
    <p>
    Hoe wij persoonsgegevens beveiligen
    City of Ideas neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met onze klantenservice of via cityofideas@coi.com
    </p>
</div>
