@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Je account bevat persoonlijke data dat jij ons hebt gegeven. Deze pagina geeft je de mogelijk om deze data op te halen of te verwijderen.</p>
        <p>
            <strong>Als je deze data verwijdert dan wordt je account verwijderd en dit kan niet worden hersteld.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Download</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Verwijder</a>
        </p>
        <p>
            <a>Als je een organisatie representeert kan je hier verzoeken om geverifieerd te zijn:</a>
            <form action="/action_page.php">
                Gebruikersnaam: <input type="text" name="usrname" required>
                <input type="submit">
            </form>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}