<form id="searchForm" class="form-inline mx-auto " asp-controller="Home" asp-action="Search" asp-route-searchString="@ViewData["searchString"]" method="get">
        @* <div class="input-group-btn search-panel"> *@
        @*     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> *@
        @*         <span id="search_concept">Filter by</span> <span class="caret"></span> *@
        @*     </button> *@
        @*     <ul class="dropdown-menu" role="menu"> *@
        @*         <li><a href="#contains">Contains</a></li> *@
        @*         <li><a href="#its_equal">It's equal</a></li> *@
        @*         <li><a href="#greather_than">Greather than ></a></li> *@
        @*         <li><a href="#less_than">Less than < </a></li> *@
        @*         <li class="divider"></li> *@
        @*         <li><a href="#all">Anything</a></li> *@
        @*     </ul> *@
        @* </div> *@
        <div class="input-group mb-3" style="width: 100%">
            <input type="text" class="form-control" name="searchString" placeholder="Zoeken..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="input-group-text btn btn-primary" id="basic-addon2">
                    
                        <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        
                       
                       
        
</form>