<form asp-controller="Home" asp-action="Search" asp-route-searchString="@ViewData["searchString"]" method="get">
    <div class="input-group">
        @* <div class="input-group-btn search-panel"> *@
        @*     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> *@
        @*         <span id="search_concept">Filter by</span> <span class="caret"></span> *@
        @*     </button> *@
        @*     <ul class="dropdown-menu" role="menu"> *@
        @*         <li><a href="#contains">Contains</a></li> *@
        @*         <li><a href="#its_equal">It's equal</a></li> *@
        @*         <li><a href="#greather_than">Greather than ></a></li> *@
        @*         <li><a href="#less_than">Less than < </a></li> *@
        @*         <li class="divider"></li> *@
        @*         <li><a href="#all">Anything</a></li> *@
        @*     </ul> *@
        @* </div> *@
        <input type="text" class="form-control" name="searchString" placeholder="Search term...">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>