<ul class="nav navbar-nav">
    <li class="nav-item" 
        id="FacebookShare">
        <button class="btn btn-facebook btn-lg "
                
                        type="submit"
                        onclick="share_fb('https://developers.facebook.com/docs/plugins/')">
            Share
        </button>
    </li>
    <li class="nav-item" 
        id="TwitterShare">
        <button type="submit" 
                onclick="share_tw()"
                class="btn btn-twitter btn-lg">
            Tweet
        </button>
    </li>
</ul>
<script>
    function share_tw() {
        window.open("https://twitter.com/share?ref_src=twsrc%5Etfw",
            'twitter-share-dialog',
            "width=626, height=436")
    }
    function share_fb(url) {
        window.open('https://www.facebook.com/sharer/sharer.php?u=' + url,
            'facebook-share-dialog',
            "width=626, height=436")
    }
</script>