<div class="d-inline">
    <div id="FacebookShare">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=73&height=28&appId"
                width="73"
                height="28"
                style="border: darkblue; overflow: hidden"
                scrolling="no"
                frameborder=""
                allowTransparency="true"
                allow="encrypted-media">
        </iframe>
    </div>
    <div id="TwitterShare">
        <iframe id="twitFrame"
                allowtransparency="true"
                frameborder="0"
                scrolling="no"
                src="//platform.twitter.com/widgets/tweet_button.html?via=dting"
                style="width: 200px; height: 25px;">
        </iframe>
    </div>
</div>