@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bevestig email";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Bedankt om je email te bevestigen.
        </p>
    </div>
</div>

