@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Bekijk je email om je wachtwoord te resetten.
    </p>

</div>

