@page
@model LockoutModel
@{
    ViewData["Title"] = "Geblokkeerd";
}
<div class="container">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Dit account is geblokkeerd, probeer later opnieuw.</p>
    </header>

</div>
