@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "2-factor authenticatie";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>Je login is beschermd met een authenticatie app. Geef je authenticatiecode onderaan in.</p>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.TwoFactorCode">2-factor code</label>
                    <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMachine">
                            <input asp-for="Input.RememberMachine" />
                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p>
        Heb je geen toegang tot je authenicatie apparaat? Je kan 
        <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">inloggen met een herstelcode</a>.
    </p>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}