@page
@model LogoutModel
@{
    ViewData["Title"] = "Log uit";
}
<div class="container">
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>Je bent succesvol uitgelogd.</p>
    </header>
</div>
