@using Integratieproject1.Domain.Projects
@model Platform

@{
    ViewBag.Title = "SuperAdminPagina";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Nieuw Platform</h2>
    <div>
        <form asp-controller="SuperAdmin" asp-action="CreatePlatform" method="post">
            <label asp-for="PlatformName">Naam</label>
            <input required asp-for="PlatformName" class="form-control" />
            <label asp-for="Logo" value="Logo url">Logo url</label>
            <input asp-for="Logo" type="url" class="form-control" />
            <label asp-for="Header">Header</label>
            <input required asp-for="Header" class="form-control" />
            <label asp-for="Description">Beschrijving</label>
            <input asp-for="Description" class="form-control" />
            <label asp-for="Phonenumber">Telefoonnummer</label>
            <input asp-for="Phonenumber" class="form-control" />
            <input type="submit" value="Create Platform">
        </form>

    </div>
</div>