@{
    ViewBag.Title = "SuperAdminPage";
    Layout = "/UI/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>SuperAdmin</h2>
    <div>
        <a asp-area="" asp-controller="SuperAdmin"
           asp-action="Admins"><button>Manage Admins</button>
        </a>
    </div>
</div>