/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    height: 100%;
    min-width: 100%
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Make default file-input hidden */
.input-default-js {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Remove margin between input and input-group-append */
.input-group-append > .btn {
    margin: 0 !important;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* own classes */
.activeProject{
    display: inline-block;
}
.closedProject{
    display: none;
    
}
.futureProject{
    display: none;
}
.ideations {
    width: 100%;
}
.surveys {
    width: 100%;
}
@media screen and (min-width: 768px){
    .ideations {
        width: 50%;
    }
    .surveys {
        width: 50%;
    } 
}

.infoCard{
    border-left: none ; 
    border-right: none ; 
    border-bottom: none ;
}
@media screen and  (min-width: 768px) {
    .infoCard{
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        border-top: none ;
        border-right: none ;
        border-bottom: none ;
    }
}
.adminGrid {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "adminTitle"
            "adminMain"
            "adminInfo"

}
.adminInfo{
    grid-area: adminInfo;
}
.adminMain {
    grid-area: adminMain;
}
.adminTitle {
    grid-area: adminTitle;
    padding: 20px;
}

@media screen and (min-width: 768px){
    .adminGrid {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-template-areas:
                "adminTitle adminTitle adminTitle"
                "adminMain adminMain adminInfo"
    }
}
#moderatorGrid {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto;
    grid-template-areas:
            "reportedPosts reportedPosts reportedPosts reportedPosts reportedPosts"
            "moderatorNav posts posts posts posts"

}
#reportedPosts{
    grid-area: reportedPosts;
}
#moderatorNav {
    grid-area: moderatorNav;
}
#posts {
    grid-area: posts;
}

#ideationGrid {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "ideation"
            "ideationInfo"
            "ideas"
    
}
#ideationInfo{
    grid-area: ideationInfo;
}
#ideation {
    grid-area: ideation;
}
#ideas {
    grid-area: ideas;
}
.idea {
    width: 100%;
}

@media screen and (min-width: 768px){
    #ideationGrid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
                "ideation ideation ideationInfo"
                "ideas ideas ideas"
    }
    .idea{
        width: 48%;
    }
}
#surveyGrid{
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "survey"
            "surveyInfo"
            "questions"
}
#surveyInfo{
    grid-area: surveyInfo;
}
#survey{
    grid-area: survey;
}
#questions{
    grid-area: questions;
}

.question{
    padding: 20px;
}
@media screen and (min-width: 768px){
    #surveyGrid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
                "survey survey surveyInfo"
                "questions questions questions"
    }
    .question{
        padding-left: 100px;
        padding-right: 100px;
    }
}
#surveyResultsGrid{
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "surveyResults"
            "surveyResultsInfo"
            "results"
}
#surveyResultsInfo{
    grid-area: surveyResultsInfo;
}
#surveyResults{
    grid-area: surveyResults;
}
#results{
    grid-area: results;
}
.result{
    padding: 20px;
}
@media screen and (min-width: 768px){
    #surveyResultsGrid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
                "surveyResults surveyResults surveyResultsInfo"
                "results results results"
    }
    .result{
        padding-left: 100px;
        padding-right: 100px;
    }
}
/* edits */
.btn {
    margin: 10px;
}
.progress {
    background-color: transparent;
    margin-left: 10px;
    margin-right:10px;
    
}
@media screen and (min-width: 768px) {
    .progress {
        margin-left: 20px;
        margin-right:20px;
    }
}
.progress-bar {
    background-color: lightslategrey;
    border-radius: 5px;
    border-right: solid transparent 2px;
    border-left: solid transparent 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.card {
    margin:10px;
}
.jumbotron-fluid {
    margin-left: -15px;
    margin-right:-15px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (min-width: 768px) {
.jumbotron-fluid{
    padding-left: 100px;
    padding-right: 100px;
    
}
}
.container{
    position: relative;
}


